# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native / Generated
ios/
android/

# Metro
.metro-health-check*
.cache/

# Tailwind / NativeWind
.nativewind/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*
.env*.local

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/